@charset "UTF-8";
h1{
	text-align: center;
}
dl{
	width:680px;
	margin:auto;
	font-size:18px;
}
dt{
	background-color: #FF006D;
	color:#fff;
	padding:10px;
	cursor: pointer;
}
dd{
	border:1px solid #FF006D;
	margin-left:0;
	height:0;
	overflow: hidden;
	transition:height 0.5s;
}
dd.on{
	height:500px;
}
p{
	margin:10px;
}